@()(implicit request:RequestHeader,flash:Flash)

@main("Welcome to Play") {
  <h1>Welcome to Play!</h1>

  <p id="pRandomText">Click here to get a random number:<span id="spanRandomNumber"></span></p>
@*这里希望优化一下：从server端取10个加密后的随机数，然后在client端全部解码后依次输出，全部输出后再从server端
*取随机数(可选：每次从server端取出的随机数的个数成倍数增加)。目的：减少请求数量 *@

  <input id="inputNum" type="text" value="5">

  <p id="pRandomString">Click here to get a random string with the length in the input.<span id="spanRandomString"></span></p>

  <script src="@routes.Assets.versioned("javascripts/Text.js")"></script>
}
