@()(implicit request:RequestHeader,flash:Flash)

@main("Login"){
    <h2>Login</h2>

    <form method="get" action="validateByGet">
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        <input type="submit">
    </form> 
    <br>
    <form method="post" action="@routes.TaskList1.validateLoginByPost">
        @helper.CSRF.formField
        Username: <input type="text" name="username" id="login-post-username">
        Password: <input type="password" name="password" id="login-post-password">
        <input type="submit">
    </form> 
    <br>
    <form method="post" action="@routes.TaskList1.register">
        @helper.CSRF.formField
        Username: <input type="text" name="username">
        Password: <input type="password" name="password">
        <input type="submit">
    </form> 
}