@()(implicit request:RequestHeader,flash:Flash)

@main("Web4.0") {
    <div id="react-root"></div>

     
    <div id="testDiv"></div>


    <input type="hidden" id="csrfToken" value="@helper.CSRF.getToken.value">
    <input type="hidden" id="validateUserRoute" value="@routes.TaskList3.validateUser">
    <input type="hidden" id="createUserRoute" value="@routes.TaskList3.createUser">
    <input type="hidden" id="tasksRoute" value="@routes.TaskList3.taskList">
    <input type="hidden" id="addTaskRoute" value="@routes.TaskList3.addTask">
    <input type="hidden" id="deleteTaskRoute" value="@routes.TaskList3.deleteTask">

    <script src="@routes.Assets.versioned("javascripts/Web4Index.js")"></script>
}